{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="OyaBuyNow">
    <meta name="keywords" content="OyaBuyNow">
    <meta name="author" content="OyaBuyNow">
    <link rel="icon" href="{% static 'frontend/assets/images/favicon/favicon.ico' %}" type="image/x-icon">
    <title>{{ title }} | OyaBuyNow</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/vendors/bootstrap.css' %}">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/search-autocomplete.css' %}">

      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
      <script src="https://unpkg.com/alpinejs" defer></script>
    <!-- In your <head> tag -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <link href="https://cdn.jsdelivr.net/npm/iconly@latest/dist/iconly/css/iconly.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/iconly@latest/dist/iconly/iconly.min.js"></script>

    <script src="https://cdn.lordicon.com/lordicon.js"></script>



</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->




    <!-- Header Start -->
    <header class="pb-md-4 pb-0">
        <div class="header-top">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-xxl-3 d-xxl-block d-none">
                        <div class="top-left-header">
                            <i class="iconly-Location icli text-white"></i>
                            <span class="text-white">+23482564555</span>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                        <div class="header-offer">
                            <div class="notification-slider">
                                <div>
                                    <div class="timer-notification">
                                        <h6><strong class="me-1">Welcome to OyaBuyNow!</strong>Wrap new offers/gift
                                            every single day on Weekends.<strong class="ms-1">New Coupon Code: Fast024
                                            </strong>

                                        </h6>
                                    </div>
                                </div>

                                <div>
                                    <div class="timer-notification">
                                        <h6>Something you love is now on sale!
                                            <a href="{% url 'shop' %}" class="text-white">Buy Now
                                                !</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <ul class="about-list right-nav-about">
                            <li class="right-nav-list">
                                <div class="dropdown theme-form-select">
                                    <button class="btn dropdown-toggle" type="button" id="select-language"
                                        data-bs-toggle="dropdown">
                                        <img src="{% static 'frontend/assets/images/country/nigeria.png' %}"
                                            class="img-fluid blur-up lazyload" alt="">
                                        <span>English</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="english">
                                                <img src="{% static 'frontend/assets/images/country/united-kingdom.png' %}"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="france">
                                                <img src="{% static 'frontend/assets/images/country/germany.png' %}"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>Germany</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="chinese">
                                                <img src="{% static 'frontend/assets/images/country/turkish.png' %}"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>Turki</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="right-nav-list">
                                <div class="dropdown theme-form-select">
                                    <button class="btn dropdown-toggle" type="button" id="select-dollar"
                                        data-bs-toggle="dropdown">
                                        <span>USD</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end sm-dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" id="aud" href="javascript:void(0)">AUD</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" id="eur" href="javascript:void(0)">EUR</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" id="cny" href="javascript:void(0)">CNY</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="top-nav top-header sticky-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                                <span class="navbar-toggler-icon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <a href="{% url 'home' %}" class="web-logo nav-logo">
                                <img src="{% static 'frontend/assets/images/logo/logo2.png' %}" class="img-fluid blur-up lazyload" alt="">
                            </a>

                            <div class="middle-box">

                                <div class="search-box position-relative">
                                  <div class="input-group">
                                    <input type="search" id="search-input" class="form-control" placeholder="I'm searching for...">
                                    <button class="btn" type="button"><i data-feather="search"></i></button>
                                  </div>
                                  <div id="suggestions" class="position-absolute w-100 bg-white border rounded shadow mt-1"></div>
                                </div>
                            </div>

                            <div class="rightside-box">
                                <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="Search here..">
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="right-side-menu">
                                    <li class="right-side">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <div class="search-box">
                                                    <i data-feather="search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-side">
                                        <a href="{% url 'contact' %}" class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <i data-feather="phone-call"></i>
                                            </div>
                                            <div class="delivery-detail">
                                                <h6>24/7 Delivery</h6>
                                                <h5>+91 888 104 2340</h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="right-side">
                                        <a href="{% url 'wishlist' %}" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                    <li class="right-side">
                                        <div class="onhover-dropdown header-badge">
                                            <button onclick="location.href = '{% url 'cart' %}';" type="button" class="btn p-0 position-relative header-wishlist">
                                                <i data-feather="shopping-cart"></i>
                                                <span class="position-absolute top-0 start-100 translate-middle badge" id="cart-counter">
                                                    {{ cart|length }}
                                                </span>
                                            </button>

                                        </div>
                                    </li>
                                    <li class="right-side onhover-dropdown">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <i data-feather="user"></i>
                                            </div>
                                            <div class="delivery-detail">
                                                <h6>Hello,</h6>
                                                <h5>My Account</h5>
                                            </div>
                                        </div>

                                        <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                {% if user.is_authenticated %}

                                                    {% if user.user_type == "Vendor" %}
                                                    <li class="product-box-contain">
                                                        <i></i>
                                                        <a href="{% url 'vendor-dashboard-home' %}">Dashboard</a>

                                                    </li>
                                                    <li class="product-box-contain">
                                                        <i></i>
                                                        <a href="{% url 'vendor-dashboard-orders' %}">Orders</a>
                                                    </li>
                                                    {% else %}

                                                        <li class="product-box-contain">
                                                            <i></i>
                                                            <a href="{% url 'dashboard' %}">Dashboard</a>
                                                        </li>

                                                        <li class="product-box-contain">
                                                            <i></i>
                                                            <a href="{% url 'orders' %}">Orders</a>
                                                        </li>
                                                    {% endif %}



                                                    <li class="product-box-contain">
                                                        <i></i>
                                                        <a href="{% url 'logout' %}">Logout</a>
                                                    </li>

                                                {% else %}

                                                    <li class="product-box-contain">
                                                        <i></i>
                                                        <a href="{% url 'login' %}">Log In</a>
                                                    </li>

                                                    <li class="product-box-contain">
                                                        <a href="{% url 'signup' %}">Register</a>
                                                    </li>

                                                    <li class="product-box-contain">
                                                        <a href="{% url 'forgot-password' %}">Forgot Password</a>
                                                    </li>

                                                {% endif %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="header-nav">
                        <div class="header-nav-left">
                            <button class="dropdown-category">
                                <i data-feather="align-left"></i>
                                <span>All Categories</span>
                            </button>

                            <div class="category-dropdown">
                                <div class="category-title">
                                    <h5>Categories</h5>
                                    <button type="button" class="btn p-0 close-button text-content">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </div>

                                <ul class="category-list">
                                    {% for category in categories %}
                                    <li class="onhover-category-list">
                                        <a href="{% url 'shop-by-category' category.name %}" class="category-name">
<!--                                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" alt="">-->
                                            <h6>{{category.name}}</h6>
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>

                                        <div class="onhover-category-box">
                                            <div class="list-1">

                                                <ul>
                                                    {% for subcategory in category.subcategories.all %}
                                                    <li>
                                                        <a href="{% url 'shop-by-subcategory' subcategory.name %}">{{subcategory.name}}</a>
                                                    </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>

                                        </div>
                                    </li>

                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                        <div class="header-nav-middle">
                            <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                                <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                    <div class="offcanvas-header navbar-shadow">
                                        <h5>Menu</h5>
                                        <button class="btn-close lead" type="button"
                                            data-bs-dismiss="offcanvas"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'onboard-vendor' %}">Become A Vendor</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-nav-right">
                            <button class="btn deal-button" onclick="location.href = '{% url 'deals' %}';">
                                <i data-feather="zap"></i>
                                <span>Best Deals of the day</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li class="active">
                <a href="{% url 'home' %}">
                    <i class="iconly-Home icli"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="mobile-category">
                <a href="javascript:void(0)">
                    <i class="iconly-Category icli js-link"></i>
                    <span>Category</span>
                </a>
            </li>

            <li>
                <a href="{% url 'search' %}" class="search-box">
                    <i class="iconly-Search icli"></i>
                    <span>Search</span>
                </a>
            </li>

            <li>
                <a href="{% url 'wishlist' %}" class="notifi-wishlist">
                    <i class="iconly-Heart icli"></i>
                    <span>My Wishlist</span>
                </a>
            </li>

            <li>
                <a href="{% url 'cart' %}">
                    <i class="iconly-Bag-2 icli fly-cate"></i>
                    <span>Cart</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- mobile fix menu end -->

    {% block breadcrumbs %}

    {% include '../partials/breadcrumbs.html' %}

    {% endblock breadcrumbs %}


    {% block content %}
    {% endblock content %}



    {% block newsletter %}
        {% include '../partials/newsletter.html' %}

    {% endblock newsletter %}



    {% block footer %}

        {% include '../partials/footer.html' %}

    {% endblock footer %}



    <!-- Tap to top and theme setting button start -->
    <div class="theme-option">


        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top and theme setting button end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="{% static 'frontend/assets/js/jquery-3.6.0.min.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'frontend/assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/bootstrap/popper.min.js' %}"></script>

    <!-- feather icon js-->
    <script src="{% static 'frontend/assets/js/feather/feather.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/feather/feather-icon.js' %}"></script>

    <!-- Slick js-->
    <script src="{% static 'frontend/assets/js/slick/slick.js' %}"></script>
    <script src="{% static 'frontend/assets/js/slick/slick-animation.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/slick/custom_slick.js' %}"></script>


    <!-- Lazyload Js -->
    <script src="{% static 'frontend/assets/js/lazysizes.min.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'frontend/assets/js/script.js' %}"></script>


    <script src="{% static 'frontend/assets/js/cart.js' %}"></script>
    <script src="{% static 'frontend/assets/js/countdown.js' %}"></script>
    <script src="{% static 'frontend/assets/js/wishlist.js' %}"></script>
    <script src="{% static 'frontend/assets/js/bank.js' %}"></script>


    <script src="{% static 'frontend/assets/js/paystack.js' %}"></script>
    <script src="{% static 'frontend/assets/js/states_lga.js' %}"></script>

    <script>
        const csrfToken = '{{ csrf_token }}';

        function showToast(message, type = "info") {
        const container = document.querySelector(".message-container");
        if (!container) return;

        const toast = document.createElement("div");
        toast.className = `message-toast ${type}`;
        toast.setAttribute("role", "alert");

        toast.innerHTML = `
            <div class="message-body">${message}</div>
            <button type="button" class="close-button" aria-label="Close" title="Close">×</button>
        `;

        // Close button handler
        toast.querySelector(".close-button").addEventListener("click", () => {
            toast.remove();
        });

        // Auto remove after 5s
        setTimeout(() => {
            toast.remove();
        }, 5000);

        container.appendChild(toast);
    }

    </script>

    <script src="{% static 'frontend/assets/js/search-autocomplete.js' %}"></script>
    <script src="{% static 'frontend/assets/js/carousel.js' %}"></script>



    {% include '../partials/messages.html' %}
</body>


</html>