{% extends "./partials/base.html" %}
{% load static %}

{% block content %}

    <!-- 404 Section Start -->
    <section class="section-404 section-lg-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="image-404">
                        <img src="{% static 'frontend/assets/images/inner-page/404.png' %}" class="img-fluid blur-up lazyload" alt="">
                    </div>
                </div>

                <div class="col-12">
                    <div class="contain-404">
                        <h3 class="text-content">We encountered a server error. We are working to fix the issue.</h3>
                        <button onclick="location.href = '{% url 'home' %}';"
                            class="btn btn-md text-white theme-bg-color mt-4 mx-auto">Back To Home Screen</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 404 Section End -->


{% endblock content %}