{% extends "./partials/base.html" %}
{% load static %}
{% load currency_filters %}
{% load rating_tags dict_extras %}

{% block content %}
<!-- Checkout section Start -->
<section class="checkout-section-2 section-b-space">
    <div class="container-fluid-lg">
        <div class="row g-sm-4 g-3">
            <div class="col-lg-8">
                <div class="left-sidebar-checkout">
                    <div class="checkout-detail-box">
                        <ul>
                            <!-- Delivery Address -->
                            <li>
                                <div class="checkout-icon">
                                    <lord-icon src="https://cdn.lordicon.com/ggihhudh.json"
                                        trigger="loop-on-hover"
                                        colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                        class="lord-icon">
                                    </lord-icon>
                                </div>

                                <div class="checkout-box">
                                    <div class="checkout-title">
                                        <h4>Delivery Address</h4>
                                    </div>

                                    <div class="checkout-detail">
                                        <form method="POST" action="" class="row g-4">
                                            {% csrf_token %}

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="text" class="form-control" id="first_name" name="first_name"
                                                        placeholder="First Name" value="{{last_order.first_name}}" required>
                                                    <label for="first_name">First Name</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="text" value="{{last_order.last_name}}" class="form-control" id="last_name" name="last_name"
                                                        placeholder="Last Name" required>
                                                    <label for="last_name">Last Name</label>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="email" value="{{last_order.email}}" class="form-control" id="email" name="email"
                                                        placeholder="Email" required>
                                                    <label for="email">Email</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="text" class="form-control" id="phone" name="phone"
                                                        placeholder="Phone Number" value="{{last_order.phone}}" required>
                                                    <label for="phone">Phone Number</label>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="text" class="form-control" id="address" name="address"
                                                        placeholder="Street Address" value="{{last_order.address}}" required>
                                                    <label for="address">Street Address</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="text" class="form-control" id="state" name="state"
                                                        placeholder="State" value="{{last_order.state}}" required>
                                                    <label for="state">State</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="text" class="form-control" id="lga" name="lga"
                                                        placeholder="LGA" value="{{last_order.lga}}" required>
                                                    <label for="lga">LGA</label>
                                                </div>
                                            </div>


                                    </div>
                                </div>
                            </li>

                            <!-- Payment Option -->
                            <li>
                                <div class="checkout-icon">
                                    <lord-icon src="https://cdn.lordicon.com/qmcsqnle.json"
                                        trigger="loop-on-hover"
                                        colors="primary:#0baf9a,secondary:#0baf9a"
                                        class="lord-icon">
                                    </lord-icon>
                                </div>

                                <div class="checkout-box">
                                    <div class="checkout-title">
                                        <h4>Payment Option</h4>
                                    </div>

                                    <div class="checkout-detail">
                                        <div class="accordion accordion-flush custom-accordion" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <div class="accordion-header" id="flush-headingFour">
                                                    <div class="accordion-button collapsed"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#flush-collapseFour">
                                                        <div class="custom-form-check form-check mb-0">
                                                            <label class="form-check-label" for="cash">
                                                                <input class="form-check-input mt-0" type="radio"
                                                                    name="payment_method" id="cash" checked>
                                                                Pay with Card/Bank Transfer (Paystack)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="flush-collapseFour"
                                                    class="accordion-collapse collapse show"
                                                    data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <p class="cod-review">
                                                            Pay digitally with your card or bank transfer through Paystack.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Order Summary -->
            <div class="col-lg-4">
                <div class="right-side-summery-box">
                    <div class="summery-box-2">
                        <div class="summery-header">
                            <h3>Order Summary</h3>
                        </div>

                        <ul class="summery-contain">
                            {% for item in cart %}
                            <li>
                                {% with item.product.product_media.first as first_media %}
                                    {% if first_media %}
                                        <img src="{{first_media.image.url}}" class="img-fluid blur-up lazyloaded checkout-image" alt="{{item.product.name}}">
                                    {% endif %}
                                {% endwith %}
                                <h4>{{item.product.name}} <span>X {{item.quantity}}</span></h4>
                                <h4 class="price">{{item.total_price|naira}}</h4>
                            </li>
                            {% endfor %}
                        </ul>

                        <ul class="summery-total">
                            <li>
                                <h4>Subtotal</h4>
                                <h4 class="price">{{cart.get_total_cost|naira}}</h4>
                            </li>
                            <li class="list-total">
                                <h4>Total (NGN)</h4>
                                <h4 class="price">{{cart.get_total_cost|naira}}</h4>
                            </li>
                        </ul>
                    </div>

                    <button class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold">
                        Place Order
                    </button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout section End -->
{% endblock content %}
