
{% extends "./partials/base.html" %}
{% load static %}

{% block content %}

    <!-- log in section start -->
    <section class="log-in-section background-image-2 section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'frontend/assets/images/inner-page/log-in.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Set a new password</h3>
                        </div>

                        <div class="input-box">
                            <form class="row g-4" method="POST">
                                {% csrf_token %}

                                <div x-data="passwordForm()">
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input type="password"
                                                   name="new_password"
                                                   class="form-control" id="password"
                                                   x-model="fields.password"
                                                   @input="validate('password')" required
                                                placeholder="New Password">
                                            <template x-if="errors.password">
                                                <small class="text-danger" x-text="errors.password"></small>
                                            </template>
                                            <label for="password">New Password</label>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-4">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input type="password" name="confirm_password" class="form-control" id="confirm_password"
                                                placeholder=" Confirm Password"
                                                x-model="fields.confirmPassword"
                                                @input="validate('confirmPassword')"
                                            >

                                            <template x-if="errors.confirmPassword">
                                                <small class="text-danger" x-text="errors.confirmPassword"></small>
                                            </template>
                                            <label for="confirm_password">Confirm Password</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12">
                                    <button class="btn btn-animation w-100 justify-content-center" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->






<script>

    function passwordForm() {
        return {
            fields: {
                password: '',
                confirmPassword: ''
            },
            errors: {
                password: '',
                confirmPassword: ''
            },
            validate(field) {
                // Reset errors
                this.errors.password = '';
                this.errors.confirmPassword = '';

                // Validate password strength (optional)
                if (field === 'password' && this.fields.password.length < 8) {
                    this.errors.password = 'Password must be at least 8 characters long.';
                }

                // Check if passwords match
                if (this.fields.confirmPassword && this.fields.password !== this.fields.confirmPassword) {
                    this.errors.confirmPassword = 'Passwords do not match.';
                }
            }
        }
    }

</script>

{% block footer %}
{% endblock footer %}


{% endblock content %}