{% extends "./partials/base.html" %}
{% load static %}
{% load currency_filters %}
{% load rating_tags dict_extras %}


{% block content %}

<style>
    .in-wishlist svg {
        fill: red;       /* inside color */
        stroke: red;     /* outline color */
    }

    /* base star look (outline / empty) */
    .review-rating .star-label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      padding: 4px;
    }

    /* style the SVG inside label when empty */
    .review-rating .star-label svg {
      width: 20px;
      height: 20px;
      stroke: #cfcfcf;   /* outline color for empty */
      fill: none;        /* no inner fill when empty */
      transition: fill .12s ease, stroke .12s ease;
    }

    /* filled state applied to the label - targets the inner svg */
    .review-rating .star-label.filled svg {
      stroke: #f5b301;  /* gold outline */
      fill: #f5b301;    /* gold fill */
    }

    /* optional hover preview color (won't persist unless clicked) */
    .review-rating .star-label:hover svg,
    .review-rating .star-label.hover svg {
      stroke: #f6c75a;
      fill: #f6c75a;
    }


</style>


    <!-- Product Left Sidebar Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                    <div class="row g-4">
                        <div class="col-xl-6 wow fadeInUp">
                            <div class="product-left-box">
                                <div class="row g-2">
                                    <!-- Main Slider -->
                                    <div class="col-xxl-10 col-lg-12 col-md-10 order-xxl-2 order-lg-1 order-md-2">
                                        <div class="product-main-2 no-arrow">
                                            {% for media in product.product_media.all %}
                                                <div>
                                                    <div class="slider-image">
                                                        <img src="{{ media.image.url }}"
                                                             id="img-{{ forloop.counter }}"
                                                             data-zoom-image="{{ media.image.url }}"
                                                             class="img-fluid image_zoom_cls-{{ forloop.counter0 }} blur-up lazyload"
                                                             alt="{{ product.name }}">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!-- Thumbnail Sidebar -->
                                    <div class="col-xxl-2 col-lg-12 col-md-2 order-xxl-1 order-lg-2 order-md-1">
                                        <div class="left-slider-image-2 left-slider no-arrow slick-top">
                                            {% for media in product.product_media.all %}
                                                <div>
                                                    <div class="sidebar-image">
                                                        <img src="{{ media.image.url }}"
                                                             class="img-fluid blur-up lazyload"
                                                             alt="{{ product.name }}">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="right-box-contain">
                                {% if product.percentage_discount %}
                                    <h6 class="offer-top">{{product.percentage_discount}}% Off</h6>
                                {% endif %}
                                <h2 class="name">{{product.name}}</h2>
                                <div class="price-rating">
                                    <h3 class="theme-color price">
                                        {% if product.percentage_discount %}
                                            <span class="theme-color">
                                                {{ product.discounted_price | naira }}
                                            </span>

                                            <del>{{ product.price | naira }}</del>
                                            {% else %}
                                            <span class="theme-color">
                                                {{ product.price | naira }}
                                            </span>
                                        {% endif %}

                                        {% if product.percentage_discount %}

                                        {% endif %}
                                    </h3>
                                    {% show_rating product=product %}
                                </div>

                                {% if product.short_description %}
                                <div class="product-contain">
                                    <p>
                                        {{ product.short_description }}
                                    </p>
                                </div>
                                {% endif %}


                                {% if product.add_product_to_sales %}

                                    <div class="time deal-timer product-deal-timer mx-md-0 mx-auto"
                                         id="clockdiv-{{ product.id }}"
                                         data-start="{{ product.sale_start|date:'c' }}"
                                         data-end="{{ product.sale_end|date:'c' }}"
                                         data-status="{{ product.sale_status }}">
                                        <div class="product-title">
                                            <h4></h4>  <!-- will be filled by JS -->
                                        </div>
                                        <ul>
                                            <li><div class="counter d-block"><div class="days d-block"><h5></h5></div><h6>Days</h6></div></li>
                                            <li><div class="counter d-block"><div class="hours d-block"><h5></h5></div><h6>Hours</h6></div></li>
                                            <li><div class="counter d-block"><div class="minutes d-block"><h5></h5></div><h6>Min</h6></div></li>
                                            <li><div class="counter d-block"><div class="seconds d-block"><h5></h5></div><h6>Sec</h6></div></li>
                                        </ul>
                                    </div>
                                {% endif %}



                                <div class="note-box product-package">
                                    <div class="cart_qty qty-box product-qty">
                                        <div class="input-group">
                                            <button type="button" class="qty-right-plus qtyplus"
                                                    data-type="plus" data-field=""
                                                    data-index="{{ product.id }}"
                                                    data-url="{% url 'update_cart' %}">
                                                <i class="fa fa-plus"></i>
                                            </button>

                                            <input class="form-control input-number qty-input" type="text"
                                                name="quantity" value="1" data-step="0" id="select{{ product.id }}"
                                            data-min="1" data-max="{{ product.stock }}">

                                            <button type="button" class="qty-left-minus qtyminus"
                                                    data-type="minus"
                                                    data-field=""
                                                    data-index="{{ product.id }}"
                                                    data-url="{% url 'update_cart' %}"
                                            >
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <button class="btn btn-md bg-dark addcart-button cart-button text-white w-100"
                                            id="cart-btn-{{ product.id }}"
                                            data-url="{% url 'add_to_cart' %}"
                                            data-remove-url="{% url 'remove_from_cart' %}"
                                            data-product-id="{{ product.id }}"
                                    >
                                        Add To Cart
                                    </button>
                                </div>

                                {% if product.add_product_to_sales %}
                                <div class="progress-sec">
                                    <div class="left-progressbar">
                                        <h6>Please hurry! Only {{product.stock}} left in stock</h6>
                                        <div role="progressbar" class="progress warning-progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                style="width: 50%;"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}



                                {% if user.is_authenticated %}
                                    <div class="buy-box">
                                        {% if in_wishlist %}
                                            <a href="javascript:void(0)" class="wishlist-button in-wishlist"
                                                data-url="{% url 'add-remove-from-wishlist' %}"
                                                data-product-id="{{ product.id }}">
                                                <i data-feather="heart"></i>
                                                <span>Remove from Wishlist</span>
                                            </a>
                                        {% else %}
                                            <a href="javascript:void(0)" class="wishlist-button"
                                                data-url="{% url 'add-remove-from-wishlist' %}"
                                                data-product-id="{{ product.id }}">
                                                <i data-feather="heart"></i>
                                                <span>Add to Wishlist</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}


                                <div class="pickup-box">
                                    <div class="product-title">
<!--                                        <h4>Store Information</h4>-->
                                    </div>

                                    {% if product.short_description %}
                                    <div class="pickup-detail">
                                        <h4 class="text-content">{{product.short_description}}</h4>
                                    </div>
                                    {% endif %}

                                    <div class="product-info">
                                        <ul class="product-info-list product-info-list-2">
                                            <li>SKU : <a href="javascript:void(0)">{{product.sku}}</a></li>
                                            <li>Stock :
                                                {% if product.availability == 'In Stock' %}
                                                {{product.stock}} Items Left
                                                {% else %}
                                                Out of Stock
                                                {% endif %}
                                            </li>
                                            {% if product.tags %}
                                            <li>Tags :

                                                    {% for tag in product.tags.all %}
                                                    <a href="{% url 'shop-by-tag' tag.name %}">{{ tag.name }},</a>
                                                    {% endfor %}

                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="payment-option">
                                    <div class="product-title">
                                        <h4>Guaranteed Safe Checkout</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://themes.pixelstrap.com/fastkart/assets/images/product/payment/1.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://themes.pixelstrap.com/fastkart/assets/images/product/payment/2.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://themes.pixelstrap.com/fastkart/assets/images/product/payment/3.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://themes.pixelstrap.com/fastkart/assets/images/product/payment/4.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://themes.pixelstrap.com/fastkart/assets/images/product/payment/5.svg"
                                                    class="blur-up lazyload" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="product-section-box">
                                <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                            data-bs-target="#description" type="button" role="tab">Description</button>
                                    </li>

                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="info-tab" data-bs-toggle="tab"
                                            data-bs-target="#info" type="button" role="tab">Additional info</button>
                                    </li>

<!--                                    <li class="nav-item" role="presentation">-->
<!--                                        <button class="nav-link" id="care-tab" data-bs-toggle="tab"-->
<!--                                            data-bs-target="#care" type="button" role="tab">Care-->
<!--                                            Instructions</button>-->
<!--                                    </li>-->

                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="review-tab" data-bs-toggle="tab"
                                            data-bs-target="#review" type="button" role="tab">Reviews</button>
                                    </li>
                                </ul>

                                <div class="tab-content custom-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                                        <div class="product-description">
                                            <div class="nav-desh">
                                                <p>{{ product.description | safe }}</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="info" role="tabpanel">
                                        <div class="table-responsive">
                                            <table class="table info-table">
                                                <tbody>
                                                    {% if product.weight %}
                                                    <tr>
                                                        <td>Weight</td>
                                                        <td>Vegetarian</td>
                                                    </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td>SKU</td>
                                                        <td>{{product.sku}}</td>
                                                    </tr>
                                                    {% if product.brand %}
                                                    <tr>
                                                        <td>Brand</td>
                                                        <td>{{product.brand.name}}</td>
                                                    </tr>
                                                    {% endif %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="review" role="tabpanel">
                                        <div class="review-box">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <div class="product-rating-box">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                {% if product.rating %}
                                                                <div class="product-main-rating">
                                                                    <h2>{{product.rating}}
                                                                    </h2>
                                                                    {% show_rating product=product show_count=False %}
                                                                    <h5>/ 5 Overall Rating</h5>

                                                                </div>
                                                                {% endif %}
                                                            </div>

                                                            <div class="col-xl-12">
                                                                {% show_rating_breakdown product %}

                                                                {% if user.is_authenticated %}
                                                                <div class="review-title-2">
                                                                    <h4 class="fw-bold">Review this product</h4>
                                                                    <p>Let other customers know what you think</p>
                                                                    <button class="btn btn-animation" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#writereview">Write a
                                                                        review</button>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-7">
                                                    <div class="review-people">

                                                        <ul class="review-list">
                                                            {% for review in reviews %}
                                                            <li>
                                                                <div class="people-box">
                                                                    <div>
                                                                        <div class="people-image people-text">
                                                                            <img alt="user" class="img-fluid "
                                                                                src="{% static 'backend/assets/images/default-image.png' %}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="people-comment">
                                                                        <div class="people-name"><a
                                                                                href="javascript:void(0)"
                                                                                class="name">{{review.user.first_name}} {{review.user.last_name}}</a>
                                                                            <div class="date-time">
                                                                                <h6 class="text-content"> {{review.created_at|date:"F j, Y"}}
                                                                                </h6>
                                                                                {% show_rating show_count=False rating=review.rating %}

                                                                            </div>
                                                                        </div>

                                                                        <div class="reply">
                                                                            <p>{{review.review}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block wow fadeInUp">
                    <div class="right-sidebar-box">
                        {% if product.created_by.vendor_profile %}
                        <div class="vendor-box">
                            <div class="vendor-contain">
                                <div class="vendor-image">
                                    <img src="{{product.created_by.vendor_profile.business_logo.url}}" class="blur-up lazyload" alt="product.created_by.vendor_profile.store_name">
                                </div>

                                <div class="vendor-name">
                                    <h5 class="fw-500">{{product.created_by.vendor_profile.store_name}}</h5>

                                    {% show_rating rating=product.created_by.vendor_profile.rating vendor=product.created_by.vendor_profile %}

                                </div>
                            </div>

                        </div>
                        {% endif %}


                        <!-- Trending Product -->
                        <div class="pt-25">
                            <div class="category-menu">
                                <h3>Trending Products</h3>

                                <ul class="product-list product-right-sidebar border-0 p-0">
                                    {% for tp in trending_products %}
                                    <li>
                                        <div class="offer-product">
                                            <a href="{% url 'product-detail' product.slug %}" class="offer-image">
                                                {% with tp.product_media.first as first_media %}
                                                    {% if first_media %}
                                                        <img src="{{first_media.image.url}}"
                                                        class="img-fluid blur-up lazyload" alt="{{tp.name}}">
                                                    {% endif %}
                                                {% endwith %}

                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="{% url 'product-detail' product.slug %}">
                                                        <h6 class="name">{{tp.name}}</h6>
                                                    </a>
                                                    <h6 class="price theme-color">
                                                        {% if tp.percentage_discount %}
                                                        <span class="theme-color">
                                                            {{ tp.discounted_price | naira }}
                                                        </span>
                                                        <del>{{ tp.price | naira }}</del>
                                                        {% else %}
                                                        <span class="theme-color">
                                                            {{ tp.price | naira }}
                                                        </span>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>

                        <!-- Banner Section -->
                        <div class="ratio_156 pt-25">
                            <div class="home-contain">
                                <img src="../assets/images/vegetable/banner/8.jpg" class="bg-img blur-up lazyload"
                                    alt="">
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        <h6 class="text-yellow home-banner">Beauty</h6>
                                        <h3 class="text-uppercase fw-normal"><span
                                                class="theme-color fw-bold">Beauty</span> Products</h3>
                                        <h3 class="fw-light">every hour</h3>
                                        <button onclick="location.href = '{% url 'shop' %}';"
                                            class="btn btn-animation btn-md fw-bold mend-auto">Shop Now <i
                                                class="fa-solid fa-arrow-right icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
    <!-- Product Left Sidebar End -->

    <!-- Related Product Section Start -->
    {% if related_products %}
    <section class="product-list-section section-b-space">
        <div class="container-fluid-lg">
            <div class="title">
                <h2>Related Products</h2>
                <span class="title-leaf">
                </span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="slider-6_1 product-wrapper">

                        {% for rp in related_products %}

                        <div>
                            <div class="product-box-3 wow fadeInUp">

                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="{% url 'product-detail' rp.slug %}">
                                            {% with tp.product_media.first as first_media %}
                                                {% if first_media %}
                                                    <img src="{{first_media.image.url}}"
                                                    class="img-fluid blur-up lazyload" alt="{{tp.name}}">
                                                {% endif %}
                                            {% endwith %}
                                        </a>

                                    </div>
                                </div>

                                <div class="product-footer">
                                    <div class="product-detail">
                                        <a href="{% url 'product-detail' rp.slug %}">
                                            <h5 class="name">{{rp.name}}</h5>
                                        </a>

                                        {% show_rating product=rp %}

                                        <h5 class="price theme-color">
                                            {% if rp.percentage_discount %}
                                            <span class="theme-color">
                                                {{ rp.discounted_price | naira }}
                                            </span>
                                            <del>{{ rp.price | naira }}</del>
                                            {% else %}
                                            <span class="theme-color">
                                                {{ rp.price | naira }}
                                            </span>
                                            {% endif %}
                                        </h5>
                                        <div class="add-to-cart-box bg-white">
                                            <button class="btn btn-add-cart addcart-button"
                                                    id="cart-btn-{{ rp.id }}"
                                                    data-url="{% url 'add_to_cart' %}"
                                                    data-remove-url="{% url 'remove_from_cart' %}"
                                                    data-product-id="{{ rp.id }}"
                                                    data-quantity="1"
                                            >
                                                Add
                                                <span class="add-icon bg-light-gray">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Related Product Section End -->


<!-- Review Modal Start -->
    <div class="modal fade theme-modal question-modal" id="writereview" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Write a review</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="product-review-form" method="POST">
                        {% csrf_token %}
                        <div class="product-wrapper">
                            <div class="product-image">
                                {% with product.product_media.first as first_media %}
                                    {% if first_media %}
                                        <img src="{{first_media.image.url}}"
                                        class="img-fluid" alt="{{product.name}}">
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="product-content">
                                <h5 class="name">{{product.name}}</h5>
                                <div class="product-review-rating">
                                    <div class="product-rating">
                                        <h6 class="price-number">
                                            {% if product.percentage_discount %}
                                                <span class="theme-color">
                                                    {{ product.discounted_price | naira }}
                                                </span>

                                                <del>{{ product.price | naira }}</del>
                                                {% else %}
                                                <span class="theme-color">
                                                    {{ product.price | naira }}
                                                </span>
                                            {% endif %}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-box">
                            <fieldset class="row spr-form-contact">
                                <!-- Rating Input -->
                                <div class="col-xxl-6 col-lg-12 col-sm-6">
                                    <div class="mb-md-4 mb-3 custom-form spr-form-review-rating">
                                        <label class="form-label spr-form-label">Rating</label>
                                        <div class="custom-input product-review pt-1">
                                          <div class="review-rating d-flex gap-1">
                                            {% for i in rating_range %}
                                              <input
                                                type="radio"
                                                id="star-{{ i }}"
                                                name="rating"
                                                value="{{ i }}"
                                                class="d-none"
                                              />
                                              <label for="star-{{ i }}" class="star-label" aria-label="{{ i }} star">
                                                <i data-feather="star"></i>
                                              </label>
                                            {% endfor %}
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <input name="product_id" value="{{product.id}}" type="hidden">

                                <!-- Review Body -->
                                <div class="col-12">
                                    <div class="mb-md-4 mb-3 custom-form spr-form-review-body">
                                        <label class="form-label spr-form-label" for="message">
                                            Body of Review <span class="spr-form-review-body-charactersremaining">(1500) characters remaining</span>
                                        </label>
                                        <div class="custom-input">
                                            <textarea
                                                class="form-control spr-form-input spr-form-input-textarea"
                                                id="message"
                                                name="review"
                                                rows="3"
                                                placeholder="Write your review..."></textarea>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-md btn-theme-outline fw-bold"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-md fw-bold text-light theme-bg-color">Submit Review</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Review Modal End -->



<script>
   document.addEventListener('DOMContentLoaded', function () {
  // If Feather icons lib is present, replace icons now so svgs exist in DOM.
  // (If you already call feather.replace() globally, this is harmless.)
  if (typeof feather !== 'undefined' && typeof feather.replace === 'function') {
    feather.replace();
  }

  const container = document.querySelector('.review-rating');
  if (!container) return;

  const radios = Array.from(container.querySelectorAll('input[type="radio"]'));
  const labels = Array.from(container.querySelectorAll('.star-label'));

  if (radios.length === 0 || labels.length === 0) return;

  // Determine order: ascending true if first radio value < last radio value.
  const ascending = Number(radios[0].value) < Number(radios[radios.length - 1].value);

  // Helper: set filled state based on targetValue
  function setFilledByValue(targetValue) {
    labels.forEach((label, idx) => {
      const radio = radios[idx];
      const val = Number(radio.value);
      const shouldFill = ascending ? (val <= targetValue) : (val >= targetValue);
      label.classList.toggle('filled', shouldFill);
    });
  }

  // Click handlers: clicking a label checks the associated radio and sets fills
  labels.forEach((label, idx) => {
    const radio = radios[idx];

    label.addEventListener('click', function (e) {
      // Ensure radio becomes checked (native label click usually handles this)
      radio.checked = true;
      // Set filled stars according to this radio's value
      setFilledByValue(Number(radio.value));
      // Dispatch change event so other listeners can react
      radio.dispatchEvent(new Event('change', { bubbles: true }));
    });

    // Hover preview (optional). Remove if you don't want hover behaviour.
    label.addEventListener('mouseenter', function () {
      // highlight preview up to hovered star
      const val = Number(radios[idx].value);
      setFilledByValue(val);
      // mark visually hovered (optional)
      label.classList.add('hover');
    });
    label.addEventListener('mouseleave', function () {
      // On leave, restore to actual checked value
      const checkedRadio = radios.find(r => r.checked);
      const checkedVal = checkedRadio ? Number(checkedRadio.value) : null;
      if (checkedVal !== null) {
        setFilledByValue(checkedVal);
      } else {
        // nothing checked -> clear all
        labels.forEach(l => l.classList.remove('filled'));
      }
      label.classList.remove('hover');
    });
  });

  // React to programmatic/keyboard changes on radios
  radios.forEach((r, i) => {
    r.addEventListener('change', function () {
      if (r.checked) {
        setFilledByValue(Number(r.value));
      }
    });
  });

  // Initialize visuals from any pre-checked radio (e.g., when editing)
  const initChecked = radios.find(r => r.checked);
  if (initChecked) {
    setFilledByValue(Number(initChecked.value));
  } else {
    // ensure all empty initially
    labels.forEach(l => l.classList.remove('filled'));
  }
});

</script>





{% endblock content %}