{% extends "./partials/base.html" %}
{% load static %}
{% load currency_filters %}
{% load rating_tags dict_extras %}
{% block content %}

    <!-- Wishlist Section Start -->
    <section class="wishlist-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-3 g-2">

                {% for product in wishlist_items %}
                <div class="col-xxl-2 col-lg-3 col-md-4 col-6 product-box-contain">
                    <div class="product-box-3 h-100">
                        <div class="product-header">
                            <div class="product-image">
                                <a href="{% url 'product-detail' product.slug %}">
                                     <img src="{{product.first_media.url}}"
                                          class="img-fluid blur-up lazyload" alt="{{product.name}}">
                                </a>

                                <div class="product-header-top">
                                    <a href="javascript:void(0)" class="btn wishlist-button in-wishlist close_button"
                                       data-url="{% url 'add-remove-from-wishlist' %}"
                                       data-product-id="{{ product.product_id }}"
                                    >
                                        <i data-feather="x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-footer">
                            <div class="product-detail">
                                <span class="span-name">{{product.category}}</span>
                                <a href="{% url 'product-detail' product.slug %}">
                                    <h5 class="name">{{product.name}}</h5>
                                </a>
                                <h5 class="price">

                                    {% if product.percentage_discount %}
                                    <span class="theme-color">
                                        {{ product.discounted_price | naira }}
                                    </span>
                                    <del>{{ product.price | naira }}</del>
                                    {% else %}
                                    <span class="theme-color">
                                        {{ product.price | naira }}
                                    </span>
                                    {% endif %}
                                </h5>

                                <div class="add-to-cart-box bg-white">
                                    <button class="btn btn-add-cart addcart-button"
                                            id="cart-btn-{{ product.product_id }}"
                                            data-url="{% url 'add_to_cart' %}"
                                            data-remove-url="{% url 'remove_from_cart' %}"
                                            data-product-id="{{ product.product_id }}"
                                            data-quantity="1"
                                    >
                                        Add
                                        <span class="add-icon bg-light-gray">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}

                <h5>You have no items in your wishlist</h5>

                {% endfor %}




            </div>
        </div>
    </section>
    <!-- Wishlist Section End -->

{% endblock content %}